*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto; 
}


input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}


button {
  cursor: pointer;
  background: none;
  border: none;
}


a {
  text-decoration: none;
  color: inherit;
}


ol {
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

#root {
  isolation: isolate;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


::selection {
  background-color: #1677ff; 
  color: #fff;
}